* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  position: relative;
 background-color: rgba(0, 0, 0, 0.04);;
}

.searchMovieInput {
  text-align: center;
  padding: 1.5rem;
  padding-bottom: 0;
}

.searchMovieInput input {
  outline: none;
  padding: 1.5rem;
  border: 1px solid #f3f3f3;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchMovie {
  width: 350px;
  height: 40px;
}

select#selectStartDate ,select#selectEndDate{
  border-radius: 10px;
  margin-left: 10px;
}


.singleMovie {
  width: 100%;
  height: 180px;
  background-color: #fff;
  margin: 1rem auto;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}



.singleMovie img {
  width: 120px;
  height: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.singleMovie .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}



.popularity {
  position: absolute;
  top: 44%;
  right: -17px;
  transform: rotate(90deg);
}
.popularity span{
  font-size: 1.2rem;
}
.popularity p {
  text-align: center;
  font-size: 1.4rem;
  /* color: #fff; */
}

.col-4 {
  flex-basis: 13%;
  position: relative;
}

.col-8 {
  flex-basis:65%;
  position: relative;
}

  .movieSerial h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #208B8C;
  }

  .movieSerial p {
    color: #212525;
    font-size: 1.2rem;
    font-family: 400;
    margin-bottom: 1rem;
    line-height: 1.2;
    display: inline;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  }

  .movieSerialData {
    display: flex;
    justify-content: space-between;
  }

  .serialSingleData {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .serialSingleData span {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
  }

  .serialSingleData h3 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 1.5rem;
  }

  select {
    padding: .8rem;
    font-size: 1.2rem;
  }


  select#selectStartDate,
  select#selectEndDate {
    cursor: pointer;
  }

  .spinner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }

  .loading-spinner {
    border: 7px solid #f3f3f3;
    border-top: 7px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .pagination {
    margin: 1.2rem;
    display: flex;
    justify-content: center;
}
  .pagination ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: #fff;
  }

  .pagination li {
    padding: .3rem .5rem;
    cursor: pointer;
    margin: .8rem;
  }

  li.selected {
    background-color: #eee5ff;
    border-color: #d6c5f5;
  }